.cart {
   padding: 0 10px;
   &__body {
      animation-name: fade-in;
      animation-duration: 1s;
   }
   &__clear {
      padding: 10px 15px;
      border: 1px solid #000;
      color: #a2a2a2;
   }
   &__bodyContainer {
      grid-template-columns: 75% 25%;
      gap: 30px;
      margin: 0 0 15px 0;
      @media (max-width: 1170px) {
         gap: 10px;
         grid-template-columns: 1fr;
      }
      &__wfull {
         grid-template-columns: 100% 0%;
         background: #e4e4e4;
      }
   }
   &__main {
      min-height: 315px;
      background: #e4e4e4;
   }
   &__imgBody {
      width: 200px;
      height: 200px;
      @media (max-width: 1070px) {
         width: 150px;
         height: 150px;
      }
   }
   &__additional {
      background: #e4e4e4;
      max-height: 350px;
      max-width: 460px;
      @media (max-width: 1170px) {
         margin: -120px 0 0 0;
      }
      &__disable {
         display: none;
      }
   }
   &__btnBody {
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(15px);
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      color: #2c2c2c;
      font-size: 17px;
      z-index: 3;
      &::after {
         position: absolute;
         left: -50px;
         top: 0;
         content: "";
         height: 100%;
         width: 0%;
         transition: 0.3s;
         transform: skewX(45deg);
         background: rgb(33, 141, 201);
         background: linear-gradient(90deg, rgba(33, 141, 201, 1) 0%, rgba(129, 129, 129, 0.10127801120448177) 100%);
      }
   }
   &__btn {
      padding: 10px 15px;
   }
   &__btnBody:hover::after {
      width: 135%;
   }
   &__homeBtn {
      position: relative;
      z-index: 2;
   }
   &__btn span {
      position: relative;
      z-index: 2;
   }
   &__list {
      @media (max-width: 1420px) {
         padding: 8px 10px;
      }
   }
   &__item {
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      padding: 10px;
      background: #cbe0ff;
      &:not(:first-child) {
         margin: 25px 0 0 0;
      }
   }
   &__separator {
      margin: 20px 0;
      width: 100%;
      height: 2px;
      background: #727272;
   }
   &__desc {
      width: 83.5%;
      &__model {
         max-width: 500px;
         line-height: 140%;
         margin: 0 0 0 5px;
         @media (max-width: 1650px) {
            font-size: 25px;
            max-width: 350px;
         }
         @media (max-width: 1500px) {
            max-width: 300px;
         }
         @media (max-width: 1280px) {
            max-width: 250px;
         }
         @media (max-width: 1230px) {
            max-width: 220px;
         }
         @media (max-width: 1070px) {
            font-size: 20px;
            max-width: 150px;
         }
      }
      &__title {
         @media (max-width: 1420px) {
            font-size: 20px;
         }
         @media (max-width: 1230px) {
            font-size: 16px;
         }
      }
      &__count {
         @media (max-width: 1230px) {
            font-size: 16px;
         }
      }
      &__price {
         @media (max-width: 1420px) {
            font-size: 20px;
         }
         @media (max-width: 1230px) {
            font-size: 16px;
         }
      }
      &__trash {
         padding: 10px;
         margin: 0 0 0 10px;
         opacity: 0.7;
         border-radius: 10px;
         transition: 0.2s;
         color: #000;
         &:hover {
            background: #b6b6b6;
            color: #ad002e;
         }
      }
   }
   &__input {
      border-radius: 5px;
      border: 1px solid transparent;
      &:focus {
         box-shadow: inset 0 0 3px 2px #888;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }
      &__invalid {
         border: 1.5px solid #ff0000;
      }
      //border: 1px solid #fd0000;
   }
   &__validError {
      color: red;
   }
   &__modal {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 30;
      background: rgba($color: #000000, $alpha: 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      &__body {
         max-width: 450px;
         max-height: 300px;
         width: 100%;
         height: 100%;
         border-radius: 7px;
         background: rgb(255, 255, 255);
         background: linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgba(200, 240, 255, 1) 100%);
         animation-name: fade-in-modal;
         animation-duration: 0.5s;
      }
      &__btn {
         background-color: rgba($color: #000000, $alpha: 0.2);
         padding: 10px 0;
         max-width: 130px;
         width: 100%;
         font-size: 20px;
         border-radius: 8px;
         transition: 0.2s ease-in-out;
         &:hover {
            box-shadow: inset 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            background-color: #5391f5;
         }
      }
      &__btnAccept {
         max-width: 240px;
      }
   }
   &__modalStatus {
      display: none;
   }
   &__totalPrice {
      @media (max-width: 800px) {
         font-size: 20px;
      }
   }
}
.rect {
   @media (max-width: 900px) {
      width: 40%;
   }
}
.testclass {
   border: 1px solid #000;
}
input[type="number"] {
   -moz-appearance: textfield;
}
.icon {
   color: red;
}
@keyframes fade-in-modal {
   0% {
      transform: translateY(-300%);
      opacity: 0;
   }
   30% {
      opacity: 0;
   }
   100% {
      transform: translateY(0%);
      opacity: 1;
   }
}
@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
