.vrf {
   margin: 0 auto 40px auto;
   &__title {
      color: #64748b;
   }
   &__content1 {
      border-radius: 10px;
      &__imgBody {
         max-width: 500px;
         width: 100%;
         aspect-ratio: 3/3;
      }
      &__sub {
         max-width: 750px;
         line-height: 160%;
      }
   }
   &__btns {
      max-width: 150px;
      width: 100%;
   }
}
.vrf-content {
   padding: 30px 20px;
   background: #f1f5f9;
   &__imgBody {
      max-width: 300px;
      width: 100%;
      aspect-ratio: 2/2;
   }
   &__list {
      max-width: 500px;
      list-style: initial;
   }
   &__item {
      list-style: initial;
      &:not(:last-child) {
         margin: 0 0 15px 0;
      }
   }
}
