@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   background: #ffffff;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: 1536px;
   margin: 0 auto;
}
.btn-blue {
   box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(15px);
   border-radius: 5px;
   position: relative;
   overflow: hidden;
   color: #2c2c2c;
   font-size: 17px;
   z-index: 3;
   display: flex;
   align-items: center;
   justify-content: center;
}
.btn-blue-inner {
   padding: 10px 15px;
   position: relative;
   z-index: 4;
}
.btn-blue::after {
   position: absolute;
   left: -50px;
   top: 0;
   content: "";
   height: 100%;
   width: 0%;
   transition: 0.3s;
   transform: skewX(45deg);
   background: rgb(33, 141, 201);
   background: linear-gradient(90deg, rgba(33, 141, 201, 1) 0%, rgba(129, 129, 129, 0.10127801120448177) 100%);
}
.btn-blue:hover::after {
   width: 145%;
}

.selectContainer {
   margin: 18px 0 0 0;
   height: 50px;
   width: 190px;
   border: 1px solid #d4d4d4;
   border-radius: 5px;
   position: relative;
}
.select {
   font-size: 1.5rem;
   line-height: 2rem;
   width: 100%;
   height: 100%;
   appearance: none;
}
.select-btuh {
   position: absolute;
   left: 80px;
   top: 32%;
   width: 100%;
   height: auto;
   font-size: 18px;
   pointer-events: none;
}
.select-arrowContainer {
   position: absolute;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 50px;
   background: #dadada;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
}
