.test {
   border: 1px solid #000;
}
.header__inputBody {
   width: 50%;
   margin: 15px auto 0px auto;
   border-radius: 5px;
   overflow: hidden;
   height: 40px;
}
.header__input {
   background: #c7c7c7;
   flex: 1 1 95%;
   padding: 5px 10px;
}
.header__inputIcon {
   background: #2585CD;
   flex: 0 1 5%;
   cursor: pointer;
}
.header__navitem {
   margin: 0 0 0 3vw;
   transition: 0.2s;
   &:hover {
      color: #2585CD;
   }

   &:first-child {
      margin: 0;
   }
}
.header__dropDownBody {
   background: rgba($color: #000000, $alpha: 0.4);
   height: calc(100vh - 175px);
   top: 175px;
}
.header__dropDown {
   background: #ffffff;
   width: 100%;
   transition: 0.5s ease-in-out;
   border-top: 1px solid #E6E0D9;
}
.header__cart {
   transform: translateX(-100px);
}
.header__cartTitle {
   transform: translateX(-10px);
}
.dropdownList__item {
   max-width: 200px;
   list-style: none;
   text-align: center;
   
   &:hover .dropdownList__img {
      transform: scale(1.3);
   }
}
.dropdownList__title {
   display: block;
   flex: 1 1 auto;
   height: 100%;
}
.dropdownList__img {
   transition: 0.3s;
}