.footer {
   background: #2585CD;
   &__iconsBody > * {
      &:not(:first-child) {
         margin: 0 0 0 20px;
      }
   }
}
.footer__top > * {
   max-width: 280px;
}
.footer__icon1 {
   color: #2585CD;
}
.footer__icon2 {
   color: #2585CD;
}
.footer__icon3 {
   color: #2585CD;
}
.footer__icon4 {
   color: #2585CD;
}