.conditioners {
   padding: 50px 0;
   &__list {
      overflow: hidden;
      &__unactive {
         height: 0%;
      }
   }
   &__item {
      transition: 0.5s ease-in-out;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      cursor: pointer;
      &:hover .conditioners__img {
         transform: scale(1.2);
      }
      &__active {
         opacity: 1;
      }
   }
   &__img-container {
      width: 350px;
      height: 350px;
   }
   &__img {
      transition: 0.4s;
   }

   &__btn {
      background: linear-gradient(45deg, rgb(104, 104, 104) 0%, rgba(223, 223, 223, 0.10127801120448177) 100%);
      overflow: hidden;
      padding: 15px 25px;
      transition: 0.4s;
      position: relative;
      z-index: 2;
      border-radius: 9px;
      &:before {
         border-radius: 9px;
         position: absolute;
         left: -19px;
         top: 0;
         width: 0%;
         height: 100%;
         content: "";
         background: #2585cd;
         transition: 0.2s ease-in-out;
         z-index: -1;
         color: #fff;
         transform: skew(45deg);
      }
      &:hover::before {
         width: 122%;
      }
   }
   &__hideBtn {
      transition: 0.2s;
   }
   &__hide {
      transform: rotate(180deg);
   }
}
.skeleton__container {
   max-width: 1556px;
   margin: 0 auto;
   padding: 0 10px;
}
.conditionerCard {
   padding: 0 50px;
   animation-name: fade-in;
   animation-duration: 1s;
   &__order {
      background: #2585cd;
      opacity: 0;
      border-radius: 5px;
      overflow: hidden;
      visibility: hidden;
      transition: 0.3s;
      &__active {
         visibility: visible;
         opacity: 0.9;
      }
   }
   &__goToCart {
      color: #343e4e;
      transition: 0.2s;
      &__arrow {
         transition: 0.2s;
      }
      &:hover {
         color: #000;
      }
      &:hover .conditionerCard__goToCart__arrow {
         transform: translateX(10px);
         color: #000 !important;
      }
   }
   &__mainBody {
      gap: 40px;
      grid-template-columns: 30% 35% 35%;
      grid-template-areas:
         "img options params"
         "video video params";
   }
   &__img {
      max-width: 350px;
      max-height: 350px;
      height: 350px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      grid-area: img;
   }
   &__main {
      grid-area: options;
   }
   &__select {
      max-width: 120px;
      border: 1px solid #838383;
      padding: 10px 10px 10px 15px;
      text-align: center;
      border-radius: 8px;
   }
   &__inputbtnContainer {
      display: flex;
      align-items: center;
   }
   &__input {
      border: 2px solid #838383;
      border-radius: 8px;
      max-width: 120px;
      padding: 10px 5px 10px 15px;
      max-height: 50px;
      height: 100%;
      &:focus {
         border: 2px solid rgb(1, 166, 243);
         box-shadow: 0px 0px 5px 0px rgb(1, 166, 243);
      }
   }
   &__submit {
      border-radius: 8px;
      background: #5f5f5f;
      border-radius: 8px;
      padding: 10px 15px;
      font-size: 20px;
      height: 49px;
      color: #fff;
   }
   &__desc {
      grid-area: params;
      &__hide {
         opacity: 0;
      }
   }
   &__descList {
      transition: 0.2s;
      & > *:not(:last-child) {
         margin: 0 0 10px 0;
      }
   }
   &__video {
      height: 500px;
      grid-area: video;
      width: 100%;
      margin: 0 0 30px 0;
      &__inner {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
